
.admin-nav{
text-align: center;
margin-top: 10px;

}
.admin-nav-img{
    width: 122px;
height: 42px;
flex-shrink: 0;
}
.admin-nav-hr{
    width: 100%;
    margin-left: -15px;
    box-sizing: border-box;
    

}
body, html {
    margin: 0;
    padding: 0;
}
