.view-more-h3{
    color: #3070F5;
/* text-align: center; */
font-feature-settings: 'liga' off, 'clig' off;
font-family: "Open Sans";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 140% */
text-transform: uppercase;
}
.view-more-p{
    color: #3070F5;
font-feature-settings: 'liga' off, 'clig' off;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 140% */
text-transform: uppercase;
}
.details-tab{
    padding: 10px;
    margin:10px;
    font-size: 14px;
}
.details-tab tr,td{
    padding: 4px;
}